<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
        <h2 class="col-6 offset-3 mb-3">SignUp on WanderLust</h2>
         <div class="col-6 offset-3">
                <form action="/signup" method="POST" class="needs-validation" novalidate>
                         <div class="mb-3">
                            <label class="form-label" for="username">USERNAME</label>
                            <input type="text" placeholder="enter username" name="username" class="form-control" id="username" required>
                             <div class="valid-feedback">
                                Thanks!!
                           </div>
                        <div class="invalid-feedback">
                            Please enter a username here
                        </div>
                      </div>
                         <div class="mb-3">
                            <label class="form-label" for="email">EMAIL</label>
                            <input type="email" placeholder="enter email" name="email" class="form-control" id="email" required>
                             <div class="valid-feedback">
                                Thanks!!
                           </div>
                        <div class="invalid-feedback">
                            Please enter a valid email here
                        </div>
                      </div>
                      <div class="mb-3">
                            <label class="form-label" for="password">PASSWORD</label>
                            <input type="password" placeholder="enter password" name="password" class="form-control" id="password" required>
                             <div class="valid-feedback">
                                Thanks!!
                           </div>
                        <div class="invalid-feedback">
                            Please enter a password here
                        </div>
                      </div>
                      <button class="btn edit-btn">SignUp</button>
                </form>
         </div>
    </div>
</body>